@import '../scss/fonts.scss';

$intro: 'IntroBook';
$introReg: 'IntroRegular';
$purple: #484283;
$red : #F14F4F;
$gray: #444B58;
$peach: #DBBBA9;
$whitepeach: #FFF4EE;
$lightgray: #B2B5BB;


body{
    font-family: 'IntroRegular';
}